// DRINKS BACKGROUND

.drinks-bg {
	float: left;
	width: 100%;
	height: 100% !important;
	min-height: 768px;
	background: $blue-gradient;
	// opacity: 0;
	@include mq(laptop) {
		background: url(../img/drinks-bkgd.png) 15% 35% fixed no-repeat, $blue-gradient;
	}
	@include mq(desktop) {
		background-position: 25% 35%;
	}

	// DRINKS CONTAINER

	.drinks {
		float: left;
		width: 100%;
		height: 100% !important;

		// DRINKS SLIDES
		
		.drinks-section {
			width: 100%;
			height: 100% !important;
			background: transparent;
			margin-left: 5px;
		}
	}
}

// DRINKS LAYOUT


.drink-box {
	position: relative;
	@include span-columns(12);
	@include mq(tablet) {
		@include span-columns(6);
	}

	// IMAGE

	img {
		position: relative;
		width: 100px;
		left: 50%;
		margin-left: -50px;
		@include mq(tablet) {
			width: 191px;
			margin-top: 100px;
			margin-left: -95px;
		}
	}
}


// DRINK THUMBS

.drink-thumb {
	width: 30px;
	margin: 0 35px;
	cursor: pointer;
	@include transition(all .3s ease-in-out);
	&:hover {
		@include transform(scale(1.5));
	}
	@include mq(tablet) {
		width: 60px;
		margin: 0 32px;
	}
	@include mq(laptop) {
		margin: 0 46px;
	}
}


// .drinks-controls {
// 	float: left;
// 	width: 100%;
// 	position: relative;
// 	top: 70%;
// 	z-index: 3;
// 	margin-top: -33px;
// 	@include mq(tablet) {
// 		top: 50%;
// 	}
// 	.slider-prev2 {
// 		display: none;
// 		@include mq(tablet) {
// 			display: block;
// 			float: left;
// 			width: 76px;
// 			height: 67px;
// 			cursor: pointer;
// 		}
// 	}
// 	.slider-next2 {
// 		display: none;
// 		@include mq(tablet) {
// 			display: block;
// 			float: right;
// 			width: 76px;
// 			height: 67px;
// 			cursor: pointer;
// 		}
// 	}
// }



