// GAME WRAP

.game-wrap {
	float: left;
	width: 100%;
	height: 100%;
}

// CHALLENGE WRAP

.challenge-wrap {
	float: left;
	width: 100%;
	@include box-sizing(border-box);
	padding: 40px 0;

	// CLOCK

	.clock2 {
		width: 280px;
		height: 280px;
		border-radius: 50%;
		border: 5px solid $clockRed;
		background: transparent;
		margin: 0 auto;
		-webkit-box-shadow: 0 0 20px $clockRed;
		box-shadow: 0 0 20px $clockRed;
		#needle2 {
			position: relative;
			@include transform(rotate(90deg));
			width: 120px;
			height: 5px;
			left: 18px;
			top: 142px;
			background: $clockRed;
			-webkit-box-shadow: 0 0 20px $clockRed;
			box-shadow: 0 0 20px $clockRed;
			@include transform-origin(100% 50%);
		}
	}

	.clock {
		width: 280px;
		height: 280px;
		border-radius: 50%;
		border: 5px solid $neonGreen;
		background: transparent;
		margin: 0 auto;
		-webkit-box-shadow: 0 0 20px $neonGreen;
		box-shadow: 0 0 20px $neonGreen;
		#needle {
			position: relative;
			@include transform(rotate(90deg));
			width: 120px;
			height: 5px;
			left: 18px;
			top: 142px;
			background: $neonGreen;
			-webkit-box-shadow: 0 0 20px $neonGreen;
			box-shadow: 0 0 20px $neonGreen;
			@include transform-origin(100% 50%);
		}
		// #center {
		// 	position: relative;
		// 	width: 16px;
		// 	height: 16px;
		// 	left: 50%;
		// 	top: 132px;
		// 	margin-left: -8px;
		// 	background: $cream;
		// 	border-radius: 50%;
		// }
	}
}

// NEEDLE ANIMATION CLASS

.needle-animation {
	@include animation(clock 30s linear);
	@include animation-iteration-count(1);
}

// CLOCK ANIMATION

// .clock-animation {
// 	@include animation(clockAnimation 1.5s ease-in-out);
// 	@include animation-iteration-count(1);
// 	-webkit-animation-delay: .5s;
// 	animation-delay: .5s;
// }

// @include keyframes(clockAnimation) {
// 	0% {
// 		border: 5px solid $clockRed;
// 		-webkit-box-shadow: 0 0 20px $clockRed;
// 		box-shadow: 0 0 20px $clockRed;
// 	}
// 	15% {
// 		border: 5px solid $charcoal;
// 		-webkit-box-shadow: 0 0 20px $charcoal;
// 		box-shadow: 0 0 20px $charcoal;
// 	}
// 	25% {
// 		border: 5px solid $clockRed;
// 		-webkit-box-shadow: 0 0 20px $clockRed;
// 		box-shadow: 0 0 20px $clockRed;
// 	}
// 	35% {
// 		border: 5px solid $charcoal;
// 		-webkit-box-shadow: 0 0 20px $charcoal;
// 		box-shadow: 0 0 20px $charcoal;
// 	}
// 	50% {
// 		border: 5px solid $clockRed;
// 		-webkit-box-shadow: 0 0 20px $clockRed;
// 		box-shadow: 0 0 20px $clockRed;
// 	}
// 	100% {
// 		border: 5px solid $clockRed;
// 		-webkit-box-shadow: 0 0 20px $clockRed;
// 		box-shadow: 0 0 20px $clockRed;
// 	}
// }

// NEEDLE ANIMATION

@include keyframes(clock) {
	0% {
		@include transform(rotate(90deg));
	}
	50% {
		@include transform(rotate(270deg));
	}
	100% {
		@include transform(rotate(450deg));
		border: 5px solid $clockRed;
		-webkit-box-shadow: 0 0 20px $clockRed;
		box-shadow: 0 0 20px $clockRed;
	}
}

// BUTTON

button {
	position: relative;
	left: 50%;
	margin-left: -80px;
}

// PAGE CSS

.page {
	float: left;
	width: 100%;
	height: 100%;
	background: $cream;
}