// GAME WRAP

.game-wrap {
	float: left;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

// CHALLENGE WRAP

.challenge-wrap {
	float: left;
	width: 100%;
	@include box-sizing(border-box);
	padding: 40px 0;

	// CLOCK

	.clock2 {
		width: 280px;
		height: 280px;
		border-radius: 50%;
		border: 5px solid $clockRed;
		background: transparent;
		margin: 0 auto;
		-webkit-box-shadow: 0 0 20px $clockRed;
		box-shadow: 0 0 20px $clockRed;
		#needle2 {
			position: relative;
			@include transform(rotate(90deg));
			width: 120px;
			height: 5px;
			left: 18px;
			top: 132px;
			background: $clockRed;
			-webkit-box-shadow: 0 0 20px $clockRed;
			box-shadow: 0 0 20px $clockRed;
			@include transform-origin(100% 50%);
		}
	}

	.clock {
		width: 280px;
		height: 280px;
		border-radius: 50%;
		border: 5px solid $neonGreen;
		background: transparent;
		margin: 0 auto;
		-webkit-box-shadow: 0 0 20px $neonGreen;
		box-shadow: 0 0 20px $neonGreen;
		#needle {
			position: relative;
			@include transform(rotate(90deg));
			width: 120px;
			height: 5px;
			left: 18px;
			top: 132px;
			background: $neonGreen;
			-webkit-box-shadow: 0 0 20px $neonGreen;
			box-shadow: 0 0 20px $neonGreen;
			@include transform-origin(100% 50%);
		}
		// #center {
		// 	position: relative;
		// 	width: 16px;
		// 	height: 16px;
		// 	left: 50%;
		// 	top: 132px;
		// 	margin-left: -8px;
		// 	background: $cream;
		// 	border-radius: 50%;
		// }
	}
}

// NEEDLE ANIMATION CLASS

.needle-animation {
	@include animation(clock 30s linear);
	@include animation-iteration-count(1);
}

// CLOCK ANIMATION

// .clock-animation {
// 	@include animation(clockAnimation 1.5s ease-in-out);
// 	@include animation-iteration-count(1);
// 	-webkit-animation-delay: .5s;
// 	animation-delay: .5s;
// }

// @include keyframes(clockAnimation) {
// 	0% {
// 		border: 5px solid $clockRed;
// 		-webkit-box-shadow: 0 0 20px $clockRed;
// 		box-shadow: 0 0 20px $clockRed;
// 	}
// 	15% {
// 		border: 5px solid $charcoal;
// 		-webkit-box-shadow: 0 0 20px $charcoal;
// 		box-shadow: 0 0 20px $charcoal;
// 	}
// 	25% {
// 		border: 5px solid $clockRed;
// 		-webkit-box-shadow: 0 0 20px $clockRed;
// 		box-shadow: 0 0 20px $clockRed;
// 	}
// 	35% {
// 		border: 5px solid $charcoal;
// 		-webkit-box-shadow: 0 0 20px $charcoal;
// 		box-shadow: 0 0 20px $charcoal;
// 	}
// 	50% {
// 		border: 5px solid $clockRed;
// 		-webkit-box-shadow: 0 0 20px $clockRed;
// 		box-shadow: 0 0 20px $clockRed;
// 	}
// 	100% {
// 		border: 5px solid $clockRed;
// 		-webkit-box-shadow: 0 0 20px $clockRed;
// 		box-shadow: 0 0 20px $clockRed;
// 	}
// }

// NEEDLE ANIMATION

@include keyframes(clock) {
	0% {
		@include transform(rotate(90deg));
	}
	50% {
		@include transform(rotate(270deg));
	}
	100% {
		@include transform(rotate(450deg));
	}
}

// BUTTON

button {
	position: relative;
	left: 50%;
	margin-left: -80px;
}

// PAGE CSS

.page {
	width: 100%;
	min-height: auto;
	height: 100%;
	margin: 0 auto;
	background: url(../img/background-palm-dark.jpg) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow-y: scroll;
	text-align: center;
}

.phone-wrap {
	width: 100%;
	height: 100%;
	@include mq(tablet) {
		margin: 0 auto;
		width: 320px;
		height: 568px;
	}
}

// HOW TO PLAY

.game-welcome {
	float: left;
	clear: both;
	position: relative;
	left: 50%;
	width: 290px;
	margin: 20px 0 20px -145px;
}

.how-to {
	float: left;
	clear: both;
	position: relative;
	left: 50%;
	width: 290px;
	margin: 0 0 20px -145px;
}

p.game-p {
	float: left;
	clear: both;
	width: 90%;
	margin-left: 5%;
}

.game-span {
	color: $white;
	font-size: 1em;
	font-family: $copy-font;
	margin: 20px 0;
}

.game-logo {
	float: left;
	clear: both;
	position: relative;
	left: 50%;
	width: 200px;
	margin: 0 0 20px -100px;
}

.link-wrap{
	float: left;
	width: 100%;
	margin: 20px 0;
	height: 75px;
}

.social-wrap{
	float: left;
	width: 100%;
	margin: 20px 0;
	height: 190px;
	div {
		margin: 20px 0;
		i {
			color: $white;
			font-size: 1.5em;
			cursor: pointer;
			margin: 0 20px;
			@include animation(all .3s ease-in-out);
			&:hover {
				color: $neonGreen;
				-webkit-text-shadow: 0px 0px 20px $neonGreen;
				text-shadow: 0px 0px 20px $neonGreen;
			}
		}

	}
	
}

.link-wrap-full {
	float: left;
	width: 100%;
	margin: 20px 0;
	height: 202px;
	text-align: center;
	.nothing {
		background: transparent;
		margin-top: 20px;
		width: 100%;
	}
	div {
		margin-top: 40px;
		width: 100%;
		padding: 20px 20px;
		@include box-sizing(border-box);
		background: rgba($black, .6);
		span {
			font-size: 1em;
			color: $white;
			font-family: $copy-font;
		}
		i {
			font-size: 1.5em;
			color: $white;
			margin: 10px 0;
		}
	}
}

.pagelink {
	font-family: $header-font;
	color: $white;
	font-size: 1.25em;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 20px;
	background: rgba($black, .6);
	-webkit-box-shadow: 0px 0px 20px $neonGreen;
	box-shadow: 0px 0px 20px $neonGreen;
	margin: 60px 0;
	clear: both;
	@include transition(all .3s ease-in-out);
	&:hover {
		color: $neonGreen;
		opactiy: .5;
	}
}


.yes {
	font-family: $header-font;
	color: $neonGreen;
	font-size: 1.35em;
	text-align: center;
	text-transform: uppercase;
	padding: 0 0;
	background: transparent !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-text-shadow: 0px 0px 20px $neonGreen;
	text-shadow: 0px 0px 20px $neonGreen;
	margin: 60px 15px 0 0;
	clear: none !important;
	@include transition(all .3s ease-in-out);
	&:hover {
		color: $neonGreen;
		opactiy: .5;
	}
}

.no {
	font-family: $header-font;
	color: $clockRed;
	font-size: 1.35em;
	text-align: center;
	text-transform: uppercase;
	padding: 0 0;
	background: transparent !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-text-shadow: 0px 0px 20px $clockRed;
	text-shadow: 0px 0px 20px $clockRed;
	margin: 60px 0;
	clear: none !important;
	@include transition(all .3s ease-in-out);
	&:hover {
		color: $clockRed;
		opactiy: .5;
	}
}

.full {
	float: left;
	clear: both;
	width: 60%;
	margin: 10px 0 10px 20% !important;
}

.desktop-notice {
	color: $white;
	text-align: center;
	display: none;
	@include mq(tablet) {
		display: block;
		margin: 0 auto;
		margin-top: 20px;
		width: 100%;
	}
}