// SPINNER

.spinner{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 7em;
	z-index: 2;
	div {
		width: 7em;
		margin: -3.5em 0 0 -3.5em;
		height: 1em;
		padding: 3em 0;
		position: relative;
		border-radius: 50%;
		border: 2px solid $cream;
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;
		-webkit-animation: rotate 1s ease infinite;
		-moz-animation: rotate 1s ease infinite;
		-o-animation: rotate 1s ease infinite;
		animation: rotate 1s ease infinite;
	}
	&:before {
		content: "Loading";
		position: absolute;
		color: $cream;
		font: .9em sans-serif;
		width: 8em;
		line-height: 8em;
		text-align: center;
		margin: -4.25em 0 0 -4em;
		-webkit-animation: wink 1.4s ease infinite;
	}
}

// SPINNER ANIMATION

@include keyframes(rotate) {
	0%{-webkit-transform:rotate(360deg)}
}

@include keyframes(wink) {
	50%{opacity:0}
}
