// MEDIA QUERY MIXIN

@mixin mq($point) {
	@if $point == desktop {
		@media (min-width: 1280px) { @content; }
	}
	@if $point == laptop {
		@media (min-width: 960px) { @content; }
	}
	@else if $point == tablet {
		@media (min-width: 768px) { @content; }
	}
	@else if $point == android {
		@media (min-width: 480px)  { @content; }
	}
	@else if $point == iphone {
		@media (min-width: 320px)  { @content; }
	}
}

// MISC

$social-height: calc(100% - 76px);
$homescreen-horizontal-width: calc(50% - 640px);
$homescreen-vertical-width: calc(50% - 430px);
$blue-gradient: -webkit-linear-gradient(top, #191919 0%,#08003e 50%,#191919 100%);
$green-gradient: -webkit-linear-gradient(top, #b6ffdd 0%,#4affab 99%); 
$orange-gradient: -webkit-linear-gradient(top, #fee3bf 0%,#fc9207 100%);

// COlORS

$muteAqua: #1abc9c;
$aqua: #16a085;
$muteGreen: #2ecc71;
$green: #27ae60;
$muteBlue: #3498db;
$blue: #2980b9;
$mutePurple: #9b59b6;
$purple: #8e44ad;
$muteNavy: #34495e;
$navy: #2c3e50;
$yellow: #f1c40f;
$orange: #fc9003;
$carrot: #e67e22;
$pumpkin: #d35400;
$brightRed: #e74c3c;
$deepRed: #c0392b;
$clouds: #ecf0f1;
$cream: #fafafa;
$silver: #bdc3c7;
$muteGrey: #95a5a6;
$grey: #7f8c8d;
$charcoal: #333;
$off-light: #444;

$clockRed: #f3552a;
$siteGray: #191919;
$neonGreen: #36ffa2;
$white: #fff;
$black: #000;
$transparentBlack: rgba(0,0,0,0.5);

// FONTS

$header-font: 'Montserrat', sans-serif;
$copy-font: 'Open Sans', sans-serif;